* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  background-color: bisque;
  height: 100vh;
}
.main {
  width: 40vw;
  /* border: solid blue; */
  margin: auto;
  background-color: crimson;
  padding-bottom: 1rem;
}
.header {
  margin-top: 5vh;
  text-align: center;
}
.header input {
  height: 4vh;
  margin: 2vh;
  width: 12vw;
  background-color: tomato;
  border: none;
  cursor: pointer;
}
